html, body {
  overflow-x: hidden;
}

@media(max-width:600px) {
   html, body {
        height:100%;
        width:auto;
        margin:0;
        font-family: "Inter", sans-serif;
    }

    html {
      scroll-behavior: smooth;
   }

    header {
        height:40px;
        width:100%;
        background-color:#FFD54F;
        color:black;
        top:0px;
        display:flex;
        align-items:center;
        justify-content:center;
    }

    main {
        background-color:#90CAF9;
        margin-top:0px;
        display:flex;
        flex-direction:column;
        height:auto;
        width:100%;
        padding:5px;
        gap:5px;
    }

    aside {
        height:auto;
        width:auto;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        background-color:#C5E1A5;
        margin-bottom:0px;
        padding: 10px;
    }

    form, label {
        width:60%;
    }

    input {
        width:90%;
        height:100px;
    }

    button {
        width:93%;
        height:30px;
    }

    #AboutMeSec {
        margin-top:30px;
        height:auto;
        width:auto;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        padding:15px;
        font-size:17px;
    }

    #PersonalInfoSec {
        margin-top:30px;
        height:auto;
        width:auto;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        padding:10px;
        font-size:17px;   
    }

    #SkillsSec {
      height:auto;
      width:auto;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 17px;
      gap: 10px; 
    }

    #SkillsSec h3 {
       margin-bottom: 10px;
    }

    .skill {
       display: flex;
       align-items: center;
       justify-content: space-between; 
       width: 80%; 
       max-width: 400px;
       gap: 10px;
    }

   .skill label {
      flex: 1; 
      text-align: left;
    }

   .skill progress {
      flex: 2; 
      width: 100%;
    }

   footer {
     height:40px;
     width:100%;
     display:flex;
     align-items:center;
     justify-content:center;
     background-color:#FFD54F;
   }
}


@media(min-width:601px) and (max-width:1023px) {
        html, body {
           height:100%;
           width:auto;
           margin:0;
           font-family: "Inter", sans-serif;
        }

       html {
         scroll-behavior: smooth;
       }
       
        header {
          height:60px;
          width:100%;
          background-color:#FFD54F;
          color:black;
          top:0px;
          display:flex;
          align-items:center;
          justify-content:center;
        }

         main {
           background-color:#90CAF9;
           margin-top:0px;
           display:flex;
           flex-direction:column;
           height:auto;
           width:100%;
           padding:5px;
           gap:20px;
        }

        aside {
           height:300px;
           width:100%;
           display:flex;
           flex-direction:column;
           justify-content:center;
           align-items:center;
           background-color:#C5E1A5;
           margin-bottom:0px;
         }

         form, label {
            min-width:60%;
            max-width:70%;
         }

         input {
           width:90%;
           height:150px;
         }

         button {
           width:92%;
          height:50px;
         }

         #AboutMeSec {
           margin-top:30px;
           height:auto;
           width:auto;
           display:flex;
           flex-direction:column;
           justify-content:center;
           align-items:center;
           padding:10px;
           font-size:20px;
         }

        #PersonalInfoSec {
           margin-top:30px;
           height:auto;
           width:auto;
           display:flex;
           flex-direction:column;
           justify-content:center;
           align-items:center;
           padding:10px;
           font-size:20px;   
        }

        #SkillsSec {
      width: 100%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 17px;
      gap: 10px; 
    }

    #SkillsSec h3 {
       margin-bottom: 10px;
    }

    .skill {
       display: flex;
       align-items: center;
       justify-content: space-between; 
       width: 80%; 
       max-width: 400px;
      
    }

   .skill label {
      flex: 1; 
      text-align: left;
    }

   .skill progress {
      flex: 2; 
      width: 100%;
    }

       footer {
         height:60px;
         width:100%;
         display:flex;
         align-items:center;
         justify-content:center;
         background-color:#FFD54F;
       }

}
@media(min-width:1024px) and (max-width:1439px) {
        html, body {
           height:100%;
           width:auto;
           margin:0;
           font-family: "Inter", sans-serif;
        }

       html {
         scroll-behavior: smooth;
       }

       header {
          height:45px;
          width:100%;
          background-color:#FFD54F;
          color:black;
          top:0px;
          display:flex;
          align-items:center;
          justify-content:center;
        }

        main {
           background-color:#90CAF9;
           margin-top:0px;
           display:flex;
           flex-direction:column;
           height:auto;
           width:100%;
           padding:5px;
           gap:20px;
        }

        aside {
           height:300px;
           width:100%;
           display:flex;
           flex-direction:column;
           justify-content:center;
           align-items:center;
           background-color:#C5E1A5;
           margin-bottom:0px;
         }

         form, label {
            min-width:60%;
            max-width:70%;
         }

         input {
           width:90%;
           height:150px;
           font-size:22px;
         }

         button {
           width:91%;
           height:50px;
           transition: ease-in 0.4s;
         }

         button:hover {
           transform:scale(0.98);
           background-color:lightgray;
         }
         
         #AboutMeSec {
           margin-top:30px;
           height:300px;
           width:100%;
           display:flex;
           flex-direction:column;
           justify-content:center;
           align-items:center;
           font-size:20px;
           padding:10px;
         }

         #PersonalInfoSec {
           margin-top:30px;
           height:300px;
           width:100%;
           display:flex;
           flex-direction:column;
           justify-content:center;
           align-items:center;
           font-size:20px;   
        }

        #SkillsSec {
      width: 100%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 17px;
      gap: 10px; 
    }

    #SkillsSec h3 {
       margin-bottom: 10px;
    }

    .skill {
       display: flex;
       align-items: center;
       justify-content: space-between; 
       width: 80%; 
       max-width: 400px;
       gap: 10px;
    }

   .skill label {
      flex: 1; 
      text-align: left;
    }

   .skill progress {
      flex: 2; 
      width: 100%;
    }

       footer {
         height:45px;
         width:100%;
         display:flex;
         align-items:center;
         justify-content:center;
         background-color:#FFD54F;
       }
}
